.rc-slider-handle {
  height: 24px;
  width: 24px;
  margin-left: -12px;
  margin-top: -9px;
}

.rc-slider-tooltip-content .rc-slider-tooltip-arrow {
  border-top-color: crimson;
}

.rc-slider-tooltip-inner {
  background-color: crimson;
}

.rc-slider-track {
  background-color: #777;
}
